In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
# Read data
df = pd.read_csv(r"C:\Users\Arati\Downloads\Titanic.csv")
df

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [3]:
#split data  (variable inside column then convert variables into different columns)
data = pd.get_dummies(df)
data

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
2196,0,0,0,1,1,0,1,0,0,1
2197,0,0,0,1,1,0,1,0,0,1
2198,0,0,0,1,1,0,1,0,0,1
2199,0,0,0,1,1,0,1,0,0,1
2200,0,0,0,1,1,0,1,0,0,1

In [4]:
#import libraries to get apriori values also association rules
from mlxtend.frequent_patterns import apriori, association_rules

In [5]:
# by using apriori function we get minimum support criteria
score = apriori(data, min_support=0.2, use_colnames=True)
score

C:\ProgramData\Anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets
0   0.320763                                        (Class_3rd)
1   0.402090                                       (Class_Crew)
2   0.213539                                    (Gender_Female)
3   0.786461                                      (Gender_Male)
4   0.950477                                        (Age_Adult)
5   0.676965                                      (Survived_No)
6   0.323035                                     (Survived_Yes)
7   0.231713                           (Class_3rd, Gender_Male)
8   0.284871                             (Class_3rd, Age_Adult)
9   0.239891                           (Class_3rd, Survived_No)
10  0.391640                          (Class_Crew, Gender_Male)
11  0.402090                            (Class_Crew, Age_Adult)
12  0.305770                          (Class_Crew, Survived_No)
13  0.757383                           (Age_Adult, Gender_Male)
14  0.619718                         (Gender_Male, Survived_No)
15  0.653339                           (Age_Adult, Survived_No)
16  0.297138                          (Survived_Yes, Age_Adult)
17  0.209905                (Class_3rd, Age_Adult, Gender_Male)
18  0.216265                (Class_3rd, Age_Adult, Survived_No)
19  0.391640               (Class_Crew, Age_Adult, Gender_Male)
20  0.304407             (Class_Crew, Gender_Male, Survived_No)
21  0.305770               (Class_Crew, Age_Adult, Survived_No)
22  0.603816              (Age_Adult, Gender_Male, Survived_No)
23  0.304407  (Class_Crew, Age_Adult, Gender_Male, Survived_No)

In [6]:
# to get model 
model = association_rules(score,metric='lift')

In [7]:
model

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_3rd),(Gender_Male),0.320763,0.786461,0.231713,0.722380,0.918520,-0.020555,0.769177
1,(Gender_Male),(Class_3rd),0.786461,0.320763,0.231713,0.294627,0.918520,-0.020555,0.962947
2,(Class_3rd),(Age_Adult),0.320763,0.950477,0.284871,0.888102,0.934375,-0.020008,0.442572
3,(Age_Adult),(Class_3rd),0.950477,0.320763,0.284871,0.299713,0.934375,-0.020008,0.969941
4,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
...,...,...,...,...,...,...,...,...,...
65,"(Gender_Male, Survived_No)","(Class_Crew, Age_Adult)",0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
66,(Class_Crew),"(Age_Adult, Gender_Male, Survived_No)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
67,(Age_Adult),"(Class_Crew, Gender_Male, Survived_No)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334
68,(Gender_Male),"(Class_Crew, Age_Adult, Survived_No)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
69,(Survived_No),"(Class_Crew, Age_Adult, Gender_Male)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434

In [8]:
# pandas filtering 
model[model['lift']>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
5,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040
6,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
7,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
8,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
9,(Age_Adult),(Class_Crew),0.950477,0.402090,0.402090,0.423040,1.052103,0.019913,1.036311
10,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
11,(Survived_No),(Class_Crew),0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
12,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116
13,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
14,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
15,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
16,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,0.009900,1.033317
17,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
26,"(Class_3rd, Age_Adult)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,0.023418,1.341344
28,"(Age_Adult, Survived_No)",(Class_3rd),0.653339,0.320763,0.216265,0.331015,1.031961,0.006698,1.015325
29,(Class_3rd),"(Age_Adult, Survived_No)",0.320763,0.653339,0.216265,0.674221,1.031961,0.006698,1.064097
31,(Survived_No),"(Class_3rd, Age_Adult)",0.676965,0.284871,0.216265,0.319463,1.121433,0.023418,1.050831
32,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
33,"(Class_Crew, Gender_Male)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
34,"(Age_Adult, Gender_Male)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157
35,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
36,(Age_Adult),"(Class_Crew, Gender_Male)",0.950477,0.391640,0.391640,0.412046,1.052103,0.019395,1.034706
37,(Gender_Male),"(Class_Crew, Age_Adult)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
38,"(Class_Crew, Gender_Male)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
39,"(Class_Crew, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
40,"(Gender_Male, Survived_No)",(Class_Crew),0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
41,(Class_Crew),"(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
42,(Gender_Male),"(Class_Crew, Survived_No)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
43,(Survived_No),"(Class_Crew, Gender_Male)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
44,"(Class_Crew, Age_Adult)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
45,"(Class_Crew, Survived_No)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
46,"(Age_Adult, Survived_No)",(Class_Crew),0.653339,0.402090,0.305770,0.468011,1.163946,0.043069,1.123915
47,(Class_Crew),"(Age_Adult, Survived_No)",0.402090,0.653339,0.305770,0.760452,1.163946,0.043069,1.447145
48,(Age_Adult),"(Class_Crew, Survived_No)",0.950477,0.305770,0.305770,0.321702,1.052103,0.015143,1.023488
49,(Survived_No),"(Class_Crew, Age_Adult)",0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
50,"(Age_Adult, Gender_Male)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
51,"(Age_Adult, Survived_No)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
52,"(Gender_Male, Survived_No)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
53,(Age_Adult),"(Gender_Male, Survived_No)",0.950477,0.619718,0.603816,0.635277,1.025106,0.014788,1.042660
54,(Gender_Male),"(Age_Adult, Survived_No)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
55,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
56,"(Class_Crew, Age_Adult, Gender_Male)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
57,"(Class_Crew, Age_Adult, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
58,"(Class_Crew, Gender_Male, Survived_No)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
59,"(Age_Adult, Gender_Male, Survived_No)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800
60,"(Class_Crew, Age_Adult)","(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
61,"(Class_Crew, Gender_Male)","(Age_Adult, Survived_No)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
62,"(Class_Crew, Survived_No)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
63,"(Age_Adult, Gender_Male)","(Class_Crew, Survived_No)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764
64,"(Age_Adult, Survived_No)","(Class_Crew, Gender_Male)",0.653339,0.391640,0.304407,0.465925,1.189676,0.048533,1.139090
65,"(Gender_Male, Survived_No)","(Class_Crew, Age_Adult)",0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
66,(Class_Crew),"(Age_Adult, Gender_Male, Survived_No)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
67,(Age_Adult),"(Class_Crew, Gender_Male, Survived_No)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334
68,(Gender_Male),"(Class_Crew, Age_Adult, Survived_No)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
69,(Survived_No),"(Class_Crew, Age_Adult, Gender_Male)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434

In [9]:
# Other Datasets

In [10]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [11]:
df1 = pd.read_csv(r"C:\Users\Arati\Downloads\Supermarket.csv")

In [12]:
df1

    ID                 Products
0    1       Milk, bread, sauce
1    2  Milk, Tea powder, bread
2    3       Bread, Jam, Butter
3    4            Bread, Butter
4    5             Maggie,Sauce
5    6      Maggie,Cheese,Sauce
6    7      Maggie,Cheese,Sauce
7    8     Peanut butter, Bread
8    9      Coffee, Sugar, Milk
9   10              Coffee,Milk
10  11      Maggie,Cheese,Sauce
11  12       Bread, Jam, Butter
12  13            Butter,Cheese
13  14      Maggie,Cheese,Sauce
14  15            Maggie,Bread
15  16         Bread, Torch,Jam
16  17       Bread, Jam, Butter
17  18         Jam,Butter,Torch
18  19       Bread, Jam, Butter
19  20  CornFlakes, Milk, Bread

In [13]:
# spliiting
def split(text):
    return text.split(',')

In [14]:
# consider values
a = 'jam,butter,maggie'
split(a)

['jam', 'butter', 'maggie']

In [15]:
# construct all the data into list form to convert it into columns
data = list(df1['Products'].apply(split))
data

[['Milk', ' bread', ' sauce'],
 ['Milk', ' Tea powder', ' bread'],
 ['Bread', ' Jam', ' Butter'],
 ['Bread', ' Butter'],
 ['Maggie', 'Sauce'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Peanut butter', ' Bread'],
 ['Coffee', ' Sugar', ' Milk'],
 ['Coffee', 'Milk'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Bread', ' Jam', ' Butter'],
 ['Butter', 'Cheese'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Maggie', 'Bread '],
 ['Bread', ' Torch', 'Jam'],
 ['Bread', ' Jam', ' Butter'],
 ['Jam', 'Butter', 'Torch'],
 ['Bread', ' Jam', ' Butter'],
 ['CornFlakes', ' Milk', ' Bread']]

In [16]:
# to get values in the form of columns
te = TransactionEncoder()

en_df = te.fit_transform(data)

In [17]:
#output
te.columns_

[' Bread',
 ' Butter',
 ' Jam',
 ' Milk',
 ' Sugar',
 ' Tea powder',
 ' Torch',
 ' bread',
 ' sauce',
 'Bread',
 'Bread ',
 'Butter',
 'Cheese',
 'Coffee',
 'CornFlakes',
 'Jam',
 'Maggie',
 'Milk',
 'Peanut butter',
 'Sauce',
 'Torch']

In [18]:
en_df = pd.DataFrame(en_df, columns=te.columns_)
en_df

,Bread,Butter,Jam,Milk,Sugar,Tea powder,Torch,bread,sauce,Bread,...,Butter,Cheese,Coffee,CornFlakes,Jam,Maggie,Milk,Peanut butter,Sauce,Torch
0,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
5,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
7,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
8,False,False,False,True,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
11,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
15,False,False,False,False,False,False,True,False,False,True,...,False,False,False,False,True,False,False,False,False,False
16,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,True
18,False,True,True,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
19,True,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [19]:
# To convert data in categorical form
en_df.replace(False,0,inplace=True)
en_df.replace(True,1, inplace=True)

In [20]:
en_df

,Bread,Butter,Jam,Milk,Sugar,Tea powder,Torch,bread,sauce,Bread,...,Butter,Cheese,Coffee,CornFlakes,Jam,Maggie,Milk,Peanut butter,Sauce,Torch
0,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
6,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
7,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
11,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
16,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
18,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [21]:
# find support score
score = apriori(en_df, min_support=0.2, use_colnames=True)
score

C:\ProgramData\Anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                 itemsets
0      0.25                ( Butter)
1      0.20                   ( Jam)
2      0.30                  (Bread)
3      0.25                 (Cheese)
4      0.30                 (Maggie)
5      0.25                  (Sauce)
6      0.20          ( Jam,  Butter)
7      0.25         (Bread,  Butter)
8      0.20            (Bread,  Jam)
9      0.20         (Maggie, Cheese)
10     0.20          (Sauce, Cheese)
11     0.25          (Sauce, Maggie)
12     0.20   ( Jam,  Butter, Bread)
13     0.20  (Sauce, Maggie, Cheese)

In [22]:
# output
model = association_rules(score,metric='lift')
model

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( Jam),( Butter),0.20,0.25,0.20,1.000000,4.000000,0.1500,inf
1,( Butter),( Jam),0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00
2,(Bread),( Butter),0.30,0.25,0.25,0.833333,3.333333,0.1750,4.50
3,( Butter),(Bread),0.25,0.30,0.25,1.000000,3.333333,0.1750,inf
4,(Bread),( Jam),0.30,0.20,0.20,0.666667,3.333333,0.1400,2.40
5,( Jam),(Bread),0.20,0.30,0.20,1.000000,3.333333,0.1400,inf
6,(Maggie),(Cheese),0.30,0.25,0.20,0.666667,2.666667,0.1250,2.25
7,(Cheese),(Maggie),0.25,0.30,0.20,0.800000,2.666667,0.1250,3.50
8,(Sauce),(Cheese),0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75
9,(Cheese),(Sauce),0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75
10,(Sauce),(Maggie),0.25,0.30,0.25,1.000000,3.333333,0.1750,inf
11,(Maggie),(Sauce),0.30,0.25,0.25,0.833333,3.333333,0.1750,4.50
12,"( Jam, Butter)",(Bread),0.20,0.30,0.20,1.000000,3.333333,0.1400,inf
13,"( Jam, Bread)",( Butter),0.20,0.25,0.20,1.000000,4.000000,0.1500,inf
14,"(Bread, Butter)",( Jam),0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00
15,( Jam),"(Bread, Butter)",0.20,0.25,0.20,1.000000,4.000000,0.1500,inf
16,( Butter),"( Jam, Bread)",0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00
17,(Bread),"( Jam, Butter)",0.30,0.20,0.20,0.666667,3.333333,0.1400,2.40
18,"(Sauce, Maggie)",(Cheese),0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75
19,"(Sauce, Cheese)",(Maggie),0.20,0.30,0.20,1.000000,3.333333,0.1400,inf
20,"(Maggie, Cheese)",(Sauce),0.20,0.25,0.20,1.000000,4.000000,0.1500,inf
21,(Sauce),"(Maggie, Cheese)",0.25,0.20,0.20,0.800000,4.000000,0.1500,4.00
22,(Maggie),"(Sauce, Cheese)",0.30,0.20,0.20,0.666667,3.333333,0.1400,2.40
23,(Cheese),"(Sauce, Maggie)",0.25,0.25,0.20,0.800000,3.200000,0.1375,3.75